---
layout: layouts/base.njk
---

<p style="text-align: right">
    <a href="/gallery-one">Gallery One</a> |
    <a href="/gallery-one">Gallery Two</a>
</p>

{% if title %}
<h2>{{ title }}</h2>
{% endif %}

<ul class="photogallery">
    {% if galname == "gallery1" %} {% for photo in gallery1 %}
    <li>
        <a
            href="{{ metadata.imglocation }}/{{ cloudinary }}/kingjoe/{{ galname }}/{{ photo }}"
            ><img
                src="{{ metadata.imglocation }}/w_200/{{ cloudinary }}/kingjoe/{{ galname }}/{{ photo }}"
        /></a>
    </li>
    {% endfor %} {% else %} {% for photo in gallery2 %}
    <li>
        <a
            href="{{ metadata.imglocation }}/{{ cloudinary }}/kingjoe/{{ galname }}/{{ photo }}"
            ><img
                src="{{ metadata.imglocation }}/w_200/{{ cloudinary }}/kingjoe/{{ galname }}/{{ photo }}"
        /></a>
    </li>
    {% endfor %} {% endif %}
</ul>

<script>
    window.addEventListener("load", function () {
        baguetteBox.run(".photogallery");
    });
</script>
<!-- <ul class="photogallery">
  {% for photo in gallery1 %}
    <li><a href="#"><img src="{{ metadata.imglocation }}/{{ cloudinary }}/kingjoe/{{ gallery }}/{{ photo }}"
      alt=""
      srcset="{{ metadata.imglocation }}/w_320/{{ cloudinary }}/kingjoe/{{ gallery }}/{{ photo }} 320w,
              {{ metadata.imglocation }}/w_640/{{ cloudinary }}/kingjoe/{{ gallery }}/{{ photo }} 640w"
      sizes="(max-width: 320px) 100vw, 640px"></a></li>
  {% endfor %}
</ul> -->
